S.DS_Store
datasets/
checkpoints/
results/
build/
dist/
*.png
torch.egg-info/
*/**/__pycache__
torch/version.py 
docs/src/**/*
test/data/legacy_modules.t7
test/data/gpu_tensors.pt
test/htmlcov
test/.coverage
*/*.pyc
*/**/*.pyc
*/**/**/*.pyc
*/**/**/**/*.pyc
*/**/**/**/**/*.pyc
*/*.so*
*/**/*.so*
*/**/*.dylib*
test/data/legacy_serialized.pt
*~
.idea
weights
SPPE
log
video
config/config.py
src/debug/model
src/debug/video
src/debug/tmp
*output*
img
src/debug/tmp/
app_class
video_process_with_txt_jump.py
*.avi
*.onnx
*.mp4
result.json